bin*/
*.code-workspace
*.sublime-project
3rdparty*
.idea*
./*build*
*build*
xcode*
temp-plot.html
matlab/*.msh
matlab/*.stl
__pycache__
.DS_Store
/data

# cmake
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CMakeInit.txt
CPackConfig.cmake
CPackSourceConfig.cmake
build.ninja
cmake_install.cmake
lib/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
PACKAGE.vcxproj
PACKAGE.vcxproj.filters
PyfTetWildWrapper.dir/
PyfTetWildWrapper.vcxproj
PyfTetWildWrapper.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
fTetWildWrapper.sln
x64/
Release/
mpir.dll


*.a
*.ver
*.pc
*.pl
*.cmake
include/
predicates/*